/* Style for image placeholder */
.image-placeholder-large {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: white;
}


.product-image-large {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Style for 'no image available' placeholder */
.no-image-available-large {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1.5rem;
    color: grey;   
}

/* Style for card header */
.card-header {
    /* Task 4 styling */
    background-color: rgb(5, 220, 220);
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Style for details title */
.details-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    
}

/* Style for comments section */
.comments-section {
    margin-top: 20px;
}
.comments-section .card {
    margin-bottom: 15px;
}
/* Style for comment author */
.comments-section .comment-author {
    font-weight: bold;
}
/* Style for comment text */
.comments-section .comment-text {
    color: #555;
}
